version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: local_postgres
    restart: unless-stopped

    env_file:
      - .env

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  adk-agent:
    build:
      context: .
      dockerfile: monitoring_agent/Dockerfile.adk
    container_name: adk-agent
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
      - DB_HOST=postgres

  monitoring-api:
    build:
      context: .
      dockerfile: monitoring_api/Dockerfile.api
    container_name: monitoring-api
    ports:
      - "8080:8080"
    environment:
      - ADK_API_BASE_URL=http://adk-agent:8000
    depends_on:
      - adk-agent
volumes:
  postgres_data:
